:root {
  /* Content sizing */
  --max-content-width: 85.375rem;

  /* Spacing */
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 3rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 8rem;

  --body-padding: 0rem;

  /* Colors */
  --color-background: #1b2337;
  --color-on-background-primary: #fff;
  --color-on-background-secondary: #ff8ac8;
  --color-foreground: #fff;
  --color-on-foreground-primary: #1b2337;
  --color-on-foreground-secondary: #ad005c;

  /* Font stack */
  --size-paragraph: 1rem;
  --size-1: 7.5rem;
  --size-2: 5.5rem;
  --size-3: 3.5rem;
  --size-4: 1.4375rem;
  --size-5: 1.5rem;
  --size-6: 1.25rem;
  --size-7: 1rem;

  /* Radius */
  --radius: 0.625rem;

  /* Breakpoints */
  --breakpoint-md: 64rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--color-background);
  color: var(--color-on-background-primary);
}

body {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
  max-width: var(--max-content-width);
  margin: 0 auto;
}

main {
  color: var(--color-on-foreground-primary);
  padding: 19.375rem var(--spacing-xs) var(--spacing-xs);
}

@media (min-width: 1024px) {
  main {
    padding: calc(var(--spacing-xxl) * 2) 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
}
